/* CSS Document */
@charset "utf-8";

:root {
    --pseudoblanco: rgb(247, 243, 237);
    --flynnpaff: rgb(255, 213, 223);
    --banana: rgb(255, 188, 43);
    --mandarina: rgb(246, 130, 77);
    --pitufo: rgb(41, 72, 136);
}

/* GENERAL */

* {
    font-family: "work-sans", sans-serif;
    font-style: normal;
    font-optical-sizing: auto;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: var(--mandarina);
    font-family: "formiga", sans-serif;
    font-weight: 550;
    text-align: center;
    line-height: 2.7rem;
    padding: 20px;
}

h2 {
    color: var(--pseudoblanco);
    font-size: 1.9rem;
    font-family: "work-sans", sans-serif;
    font-weight: 450;
    line-height: 3rem;
}

h3 {
    color: var(--pitufo);
    font-size: 1.5rem;
    font-weight: 650;
    line-height: 2.2rem;
    max-width: 400px;
    padding: 10px 0px;
}

h4 {
    color: var(--pitufo);
    font-size: 1.5rem;
    font-weight: 450;
    padding: 10px 0px;
}

p {
    text-wrap-style: left;
    line-height: 1.8rem;
    padding: 5px 0px 5px 0px;
    color: var(--pitufo);
    text-align: left;
}

ul {
    line-height: 1.8rem;
    color: var(--pitufo);
}

.azul {
    color: var(--pitufo);
}

/* HEADER */

header {
    background-color: var(--pseudoblanco);
    margin-bottom: 30px;
}

header p {
    font-size: 1.5rem;
    color: var(--banana);
    font-weight: 300;
    line-height: 2rem;
}

nav {
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    width: 100%;
    padding-bottom: 25px;
}

nav a {
    padding: 25px;
    color: var(--pitufo);
    opacity: .75;
    transition: .2s;
}

nav a:hover {
    color: var(--banana);
    font-weight: 500;
    opacity: 1;
}

nav a.active {
    font-weight: 500;
    opacity: 1;
}

#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

#gif {
    width: 100%;
    height: auto;
    max-width: 500px;
    min-width: 300px;
    padding-bottom: 15px;
    padding-top: 20px;
}

/* MAIN */

main {
    position: relative;
}

main::before {
    content: "";
    position: absolute;
    top: -30px;
    left: 0;
    width: 100%;
    height: 30px;
    background: url("img/borde_beige.png") repeat-x;
}

main::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 30px;
    background: url("img/borde_rosa.png") repeat-x;
}

#imgs {
    padding: 75px 0px;
    display: flex;
    justify-content: center;
}

#imgs img {
    max-width: 1400px;
    max-height: auto;
}

/* GALERIA */

#galeria {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    padding: 75px 50px;
}

#galeria a {
    padding: 50px;
}
/*
#video {
    display: flex;
    justify-content: center;
}

video {
    height: 600px;
    width: auto;
}

.fancybox-button path {
    fill: var(--banana);
}/*

/* ABOUT */

#bio {
    padding-top: 50px;
    padding-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 75px;
}

#work {
    background-color: var(--banana);
    padding-bottom: 40px;
    padding-top: 15px;
    text-align: center;
}

#work h2 {
    font-weight: 600;
    font-size: 2.1rem;
}

#work::after {
    content: "";
    position: absolute;
    bottom: 100px;
    left: 0;
    width: 100%;
    height: 30px;
    background: url("img/borde_banana.png") repeat-x;
}

#txt {
    max-width: 690px;
}

/* FOOTER */

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: fit-content;
    background-color: var(--flynnpaff);
    padding: 30px 0px;
}

footer ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
}

footer li {
    padding: 0px 20px;
}

footer p {
    text-align: center;
    font-size: 0.8rem;
    padding-top: 10px;
}

footer h2 {
    font-size: 1.6rem;
    color: var(--pitufo);
    padding: 10px 0px;
}

#redes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: fit-content;
    padding: 30px 10px 20px 10px;
}

.iconos {
    height: 35px;
    width: 35px;
    fill: var(--pseudoblanco);
}

.iconos:hover {
    fill: var(--banana)
}